{{ define "icon-open" }}
<svg version="1.1" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
    <path d="m8.882 5.243-3.726 3.515-3.789-3.501" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.485"/>
</svg>
{{ end }}