{{ define "tags_logs" }}
<tag class="w3-button w3-text-black bg-color-1" onclick="filter_log('ERROR')">ERROR</tag>
<tag class="w3-button w3-text-black bg-color-5" onclick="filter_log('WARNING')">WARNING</tag>
<tag class="w3-button w3-text-black bg-color-6" onclick="filter_log('INFO')">INFO</tag>
<tag class="w3-button w3-text-black bg-color-8" onclick="filter_log('*')">All</tag>
{{ end }}